#content {
  .experience {
    .list, .sub-list {
      li {
        border-bottom: 0;
        padding: 0;
      }
    }

    .list {
      overflow: hidden;

      li {
        margin-bottom: 1.5rem;
      }

      .title {
        align-items: center;
        display: flex;
        margin-bottom: 1rem;

        h3 {
          flex: 1;
          font-size: 26px;
          font-weight: 700;
          margin-right: 0.5rem;

          &, span {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          span {
            display: block;
            font-size: 20px;
            font-weight: normal;
          }
        }

        .period {
          background-color: #f2968f;
          border-radius: 20px;
          color: #fff;
          height: 40px;
          line-height: 40px;
          padding: 0 20px;
          text-align: center;
          text-transform: uppercase;
        }

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      .text {
        p {
          margin-bottom: 1rem;
        }
      }
    }

    .sub-list {
      li {
        margin-bottom: 0;
        padding-left: 20px;
        position: relative;

        &::before {
          border: 5px solid #f2968f;
          border-radius: 50%;
          content: "";
          left: 0;
          margin-top: 7px;
          position: absolute;
          top: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 680px) {
  #content {
    .experience {
      .list {
        .title {
          margin-bottom: 1rem;
          display: block;

          h3 {
            font-size: 1.2em;
            margin-bottom: 1.5rem;

            span {
              font-size: 0.8em;
            }
          }

          .period {
            background-color: #eeeeee;
            color: #999999;
            font-size: 0.9em;
          }
        }
      }

      .sub-list {
        margin-bottom: 8%;

        li {
          &::before {
            margin-top: 11px;
          }
        }
      }
    }
  }
}
