#content {
  .skill {
    .list {
      overflow: hidden;

      li {
        border-color: #eeeeee;
      }

      .pie-chart {
        float: left;
        margin-right: 1.5rem;
        position: relative;
        text-align: center;

        .percent {
          align-items: center;
          bottom: 0;
          display: flex;
          font-size: 1.15em;
          font-weight: 700;
          justify-content: center;
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
        }
      }

      .text {
        overflow: hidden;

        .title {
          margin-bottom: 1rem;

          h3 {
            font-size: 26px;
            font-weight: 700;

            span {
              display: block;
              font-size: 20px;
              font-weight: normal;
            }
          }
        }

        p {
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 680px) {
  #content {
    .skill {
    }
  }
}
