@font-face {
  font-family: "Thai Sans Lite";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/thai-sans-lite.woff2") format("woff2"), url("../fonts/thai-sans-lite.woff") format("woff");
}
